{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class = "row">
        <div class="col-7">
{% for item in recipe_dict %}


            <div class="container" data-header>
                <div class="row"> 
                    <div class="col-7">
                        <form action="/update_recipe" method="get" style = "display: flex;" >
                            <input type="text"  width="30" height="30" value = "{{ item }}" name = "{{ item }}" id="{{ item }}" required>
                            <input type="image" src="/static/Pencil.jpg"  width="30" height="30"> 
                        </form>
                    </div>
                </div>
                <ul>
                    {% for i in recipe_dict[item] %}
                    <div class="container">
                        <div class="row">
                            <li class="col-3"> 
                                <form action="/update_ingredient" method="get" style = "display: flex;">
                                    <input type="text"  width="30" height="30" value = "{{ i }}" name = "{{ item }};{{ i }}" id="{{ i }}" required>
                                    <input type="image" src="/static/Pencil.jpg"  width="30" height="30"> 
                                </form>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>        
        
        

 
{% endfor %}  

</div>
<div class="col-3">
    <div class="search-wrapper">
        <label for="search">Search Recipes</label>
        <input type="search" id = "search" data-search>
    </div>
</div>
</div>
</div>
{% endblock %}