{% extends "layout.html" %}

{% block body %}

{% for item in recipe_dict %}
<div class="container">
    <div class="row">
        <div id="accordion" class="col">
            
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-2">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{ item }}" aria-expanded="true" aria-controls="collapseOne">
                            {{ item }}
                        </button>

                    </h5>
                </div>
            </div>
            
            <div id="{{ item }}" class="collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <ul class="card-body">
                    {% for i in recipe_dict[item] %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </div>
            </div>  
        
      
        <form action="/delete_recipe_form" method="get" name="delete_recipe" class="col" id="delete">
            <input type="submit" value = "Delete" name = "{{ item }}">
        </form>
    </div>
</div>
{% endfor %}   
{% endblock %}